@import "../styles/main.module.scss";

.register {
  padding: 20px 0 30px 0;
  text-align: center;

  button {
    @include flexBox(center, center);
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background: #29458b;
  }
}

.infoText {
  text-align: center;
  font-size: 12px;
  color: #999;
}
