@import "../styles/main.module.scss";

.inputFieldSection {
  margin-bottom: 20px;

  .falseText,
  .trueText {
    padding-left: 3px;
    margin-top: 5px;
    font-size: 10px;
  }

  .falseText {
    color: red;
  }

  .trueText {
    color: $point;
  }
}
