@import "../styles/main.module.scss";

.todoSection {
  @include flexBox(center, center);
  flex-direction: column;
  position: relative;
  padding: 20px;
  background: $white;

  .todoList {
    width: 80%;
    .list {
      padding: 5px;
      @include flexBox(between, center);

      .todoInfo {
        @include flexBox(center, center);
        cursor: pointer;
        .checked {
          margin-right: 10px;
        }
      }
    }
  }
}
