@import "../../styles/main.module.scss";

.basicBtn {
  @include flexBox(center, center);
  width: 100%;
  height: 54px;
  margin-top: 25px;
  border: 0;
  border-radius: 27px;
  font-size: 16px;
  @include family(PSemiBold);
  color: #fff;
  cursor: pointer;
}

.enabled {
  background-color: $point;
}

.disabled {
  background-color: $gray300;
}
